html, body, #__next, main {
    height: 100%;
    width: 100%;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: muli, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
    background-color: theme('colors.light-grey');
    color: theme('colors.dark-grey');
    #__next {
        display: flex;
        &:before, &:after {
            content: '';
            position: fixed;
            pointer-events: none;
            z-index: 30;
        }
        &:before {
            inset: 0;
            opacity: 0.9;
            border: theme('colors.light-grey') solid theme('spacing.pal');
            border-top: theme('colors.light-grey') solid theme('spacing.2pal');
            border-bottom: theme('colors.light-grey') solid theme('spacing.2pal');
            @media (min-width: 1024px) {
                border: theme('spacing.2pal') solid theme('colors.light-grey');
            }
        }
        &:after {
            content: '';
            position: fixed;
            border: 1px solid darkgray;
            top: calc(theme('spacing.2pal') - 1px);
            bottom: calc(theme('spacing.2pal') - 1px);
            left: calc(theme('spacing.pal') - 1px);
            right: calc(theme('spacing.pal') - 1px);
            @media (min-width: 1024px) {
                inset: calc(theme('spacing.2pal') - 1px);
            }
        }
    }
    &.dark {
        background-color: theme('colors.dark-grey');
        color: theme('colors.light-grey');
        #__next {     
            &:before {
                border: theme('colors.dark-grey') solid theme('spacing.pal');
                border-top: theme('colors.dark-grey') solid theme('spacing.2pal');
                border-bottom: theme('colors.dark-grey') solid theme('spacing.2pal');
                @media (min-width: 1024px) {
                    border: theme('spacing.2pal') solid theme('colors.dark-grey');
                }
            }
            &:after {
                border: 1px solid silver;
            }
        }
    }
}

#identity {
    &::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        left: theme('spacing.pal');
    }
}

#ribbon {
    > div {
        animation-play-state: inherit;
    }
}

a {
    &.active {
        white-space: nowrap;
        &:before {
            content: 'â— '
        }
    }
}

* {
    pointer-events: auto;
}